////// Foundation
// Reset
@import '../../node_modules/ress/dist/ress.min.css'
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:700&display=swap')


// Base
@import 'foundation/base.styl'
@import 'foundation/variable.styl'
@import 'foundation/mixin.styl'

////// Layout

////// Object

//Component

//Project
@import 'object/project/header.styl'
@import 'object/project/footer.styl'

//Utility
