meta(property='og:url', content='')
meta(property='og:title', content=title)
meta(property='og:description', content=description)

if page === 'home'
    meta(property='og:type', content='website')
else
    meta(property='og:type', content='article')

meta(property='og:image', content='')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:image', content='')